<div class="center jumbotron">
<h1>サンプルアプリへようこそ</h1>

<h2>これは<a href="https://railstutorial.jp/">Ruby on Railsチュートリアル</a>
のサンプルアプリのホームページです。</h2>

<%= link_to '今すぐ登録！', signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
          'http://rubyonrails.org/' %>
