<% provide(:title, t('.title')) %>
<h1><%= yield(:title) %></h1>
<p>
  <a href="https://railstutorial.jp/"><em>Ruby on Railsチュートリアル</em></a>は、
  <a href="http://rubyonrails.org/">Ruby on Rails</a>によるWeb開発を教える
  <a href="https://railstutorial.jp/#ebook">書籍</a>と
  <a href="https://railstutorial.jp/#screencast">スクリーンキャスト</a>
  です。
  これは、そのチュートリアルのサンプルアプリです。
</p>
