<% provide(:title, t('.title')) %>
<h1><%= yield(:title) %></h1>
<p>  Ruby on Railsチュートリアルに関するヘルプは、
  <a href="https://railstutorial.jp/help">Rails Tutorial helpページ</a>
  から。
  このサンプルアプリに関するヘルプは、
  <a href="https://railstutorial.jp/#ebook"><em>Ruby on Railsチュートリアル</em>
  書籍版</a>をご覧ください。
</p>
