<% provide(:title, t('.edit_user')) %>
<% provide(:h1, t('.update_your_profile')) %>
<% provide(:button_text, t('.save_changes')) %>
<h1><%= yield(:h1) %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%#  Railsは@userが新規ユーザーか否かをnew_recordメソッドで見分け、編集用のフォームを生成 -%>
    <%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <!-- 更新するときはGravatarのページを、元のウィンドウが操作できないようにして、
           新しいウィンドウで開く -->
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener"><%= t('.change') %></a>
    </div>
  </div>
</div>
