<% if @feed_items.any? %>
  <ol class="microposts" id="feed">
    <%= render @feed_items %>
  </ol>
  <div id="infinite-scrolling">
    <div id="loader"></div>
    <%= will_paginate @feed_items %>
  </div>
<% end %>
